.flex-container {
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
}

.card-flexx {
    flex: 1 1 200px;
    margin: 10px;
    height: 200px;
    width: 100px;
    color: rgb(173, 169, 162);
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-left: 300px;
    margin-right: 300px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    border-bottom: 1px solid whitesmoke;
    display: block;
    text-align: center;
}

.card-price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 55px;
}

.card-flex:hover {
    box-shadow: 0px 3px 20px 0 rgba(102, 247, 110, 0.5)
}

.card li {
    list-style: none;
}

.title {
    padding: 40px;
}

.center-contentt {
  margin-top: 20px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.loginn  {
  padding: 100px;
}

.login .aye  {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-bodyy {
  height: 400px;
  max-width: 650px;
  width: 100%;
  background: #212121;
  border-radius: 5px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, .19);
  position: relative;
  bottom: 30px;
  transition: all 0.5s;
}

.card-body:hover {
  box-shadow: 0px 3px 20px 0 #7274ff;
  transition: all 0.5s;
}
